@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a28089;
}

.container {
    position: relative;
    max-width: 360px;
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px 20px;
    background: white;
}

.display {
    height: 100px;
    width: 100%;
    outline: none;
    border: 2px solid #888;
    text-align: right;
    margin-bottom: 15px;
    font-size: 35px;
    color: black;
    pointer-events: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,0,0.2);
    border-radius: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    padding: 12px 10px;
    border-radius: 60px;
    border: 3px solid white;
    font-size: 20px;
    cursor: pointer;
    background-color: #9f807d;

}

.buttons button:active {
    transform: scale(0.99);
}

.operator{
    color: white;
}